<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmall.mapper.CommentReplayMapper">
    <select id="queryReplayByCommentId" resultType="com.springmall.bean.CommentReplay">
        select id,comment_id,content,replay_time,deleted from cskaoyan_mall_comment_replay where comment_id = #{commentId}
    </select>
    <insert id="insertReplay">
        insert into cskaoyan_mall_comment_replay (id, comment_id, content, replay_time, deleted) values (null, #{commentId}, #{content}, now(),false)
    </insert>
</mapper>