<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmall.mapper.GrouponMapper">

  <resultMap id="wholesale" type="com.springmall.bean.GrouponResult">
    <collection property="groupon" ofType="com.springmall.bean.Groupon">
      <result column = "id" property = "id"/>
      <result column = "order_id" property = "orderId"/>
      <result column = "groupon_id" property = "grouponId"/>
      <result column = "rules_id" property = "rulesId"/>
      <result column = "user_id" property = "userId"/>
      <result column = "creator_user_id" property = "creatorUserId"/>
      <result column = "gro_add" property = "addTime"/>
      <result column = "gro_update" property = "updateTime"/>
      <result column = "gro_share" property = "shareUrl"/>
      <result column = "payed" property = "payed"/>
      <result column = "grodel" property = "deleted"/>
    </collection>
    <collection property="rules" ofType="com.springmall.bean.Groupon_rules">
      <result column = "rid" property = "id"/>
      <result column = "goods_id" property = "goodsId"/>
      <result column = "goods_name" property = "goodsName"/>
      <result column = "rul_pic" property = "picUrl"/>
      <result column = "discount" property = "discount"/>
      <result column = "discount_member" property = "discountMember"/>
      <result column = "rul_add" property = "addTime"/>
      <result column = "rul_update" property = "updateTime"/>
      <result column = "expire_time" property = "expireTime"/>
      <result column = "rul_del" property = "deleted"/>
    </collection>
    <collection property="goods" ofType="com.springmall.bean.Goods">
      <result column = "gid" property = "id"/>
      <result column = "goods_sn" property = "goodsSn"/>
      <result column = "name" property = "name"/>
      <result column = "category_id" property = "categoryId"/>
      <result column = "brand_id" property = "brandId"/>
      <result column = "gallery" property = "gallery"/>
      <result column = "keywords" property = "keywords"/>
      <result column = "brief" property = "brief"/>
      <result column = "is_on_sale" property = "isOnSale"/>
      <result column = "sort_order" property = "sortOrder"/>
      <result column = "good_pic" property = "picUrl"/>
      <result column = "good_share" property = "shareUrl"/>
      <result column = "is_new" property = "isNew"/>
      <result column = "is_hot" property = "isHot"/>
      <result column = "unit" property = "unit"/>
      <result column = "counter_price" property = "counterPrice"/>
      <result column = "retail_price" property = "retailPrice"/>
      <result column = "detail" property = "detail"/>
      <result column = "good_add" property = "addTime"/>
      <result column = "good_update" property = "updateTime"/>
      <result column = "good_del" property = "deleted"/>
    </collection>
    <collection property="subGroupons" column="groupon_id" select="com.springmall.mapper.GrouponMapper.selectGrouponByGid"/>
  </resultMap>

  <select id="selectWholesale" resultMap="wholesale">
    select
    gro.id,
    gro.order_id,
    gro.groupon_id,
    gro.rules_id,
    gro.user_id,
    gro.creator_user_id,
    gro.add_time as gro_add,
    gro.update_time as gro_update,
    gro.share_url as gro_share,
    gro.payed,
    gro.deleted as grodel,
    r.id as rid,
    r.goods_id,
    r.goods_name,
    r.pic_url as rul_pic,
    r.discount,
    r.discount_member,
    r.add_time as rul_add,
    r.update_time as rul_update,
    r.expire_time,
    r.deleted as rul_del,
    g.id as gid,
    g.goods_sn,
    g.name,
    g.category_id,
    g.brand_id,
    g.gallery,
    g.keywords,
    g.brief,
    g.is_on_sale,
    g.sort_order,
    g.pic_url as good_pic,
    g.share_url as good_share,
    g.is_new,
    g.is_hot,
    g.unit,
    g.counter_price,
    g.retail_price,
    g.detail,
    g.add_time as good_add,
    g.update_time as good_update,
    g.deleted as good_del
    from cskaoyan_mall_groupon as gro
    LEFT JOIN cskaoyan_mall_groupon_rules as r ON gro.rules_id = r.id
    LEFT JOIN cskaoyan_mall_goods as g on r.goods_id = g.id
    <where>
      gro.deleted = false and gro.id = gro.groupon_id
      <if test="goodsId != null">
        and goods_id = #{goodsId}
      </if>
    </where>
    <if test="order != null &amp; sort != null">
      order by #{sort} #{order}
    </if>
  </select>

  <select id="selectGrouponByGid" resultType="com.springmall.bean.Groupon">
    select
    id,
    order_id as orderId,
    groupon_id as grouponId,
    rules_id as rulesId,
    user_id as userId,
    creator_user_id as creatorUserId,
    add_time as addTime,
    update_time as updateTime,
    share_url as shareUrl,
    payed,
    deleted
    from cskaoyan_mall_groupon where groupon_id = #{groupon_id}
  </select>

  <resultMap id="BaseResultMap" type="com.springmall.bean.Groupon">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="groupon_id" jdbcType="INTEGER" property="grouponId" />
    <result column="rules_id" jdbcType="INTEGER" property="rulesId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="creator_user_id" jdbcType="INTEGER" property="creatorUserId" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="share_url" jdbcType="VARCHAR" property="shareUrl" />
    <result column="payed" jdbcType="BIT" property="payed" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_id, groupon_id, rules_id, user_id, creator_user_id, add_time, update_time, 
    share_url, payed, deleted
  </sql>
  <select id="selectByExample" parameterType="com.springmall.bean.GrouponExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cskaoyan_mall_groupon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cskaoyan_mall_groupon
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cskaoyan_mall_groupon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.springmall.bean.GrouponExample">
    delete from cskaoyan_mall_groupon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.springmall.bean.Groupon">
    insert into cskaoyan_mall_groupon (id, order_id, groupon_id, 
      rules_id, user_id, creator_user_id, 
      add_time, update_time, share_url, 
      payed, deleted)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{grouponId,jdbcType=INTEGER}, 
      #{rulesId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{creatorUserId,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{shareUrl,jdbcType=VARCHAR}, 
      #{payed,jdbcType=BIT}, #{deleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.springmall.bean.Groupon">
    <selectKey resultType="int" keyColumn="id" keyProperty="id" order="AFTER">
      select LAST_INSERT_ID()
    </selectKey>
    insert into cskaoyan_mall_groupon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="grouponId != null">
        groupon_id,
      </if>
      <if test="rulesId != null">
        rules_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="creatorUserId != null">
        creator_user_id,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="shareUrl != null">
        share_url,
      </if>
      <if test="payed != null">
        payed,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="grouponId != null">
        #{grouponId,jdbcType=INTEGER},
      </if>
      <if test="rulesId != null">
        #{rulesId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="creatorUserId != null">
        #{creatorUserId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shareUrl != null">
        #{shareUrl,jdbcType=VARCHAR},
      </if>
      <if test="payed != null">
        #{payed,jdbcType=BIT},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.springmall.bean.GrouponExample" resultType="java.lang.Long">
    select count(*) from cskaoyan_mall_groupon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cskaoyan_mall_groupon
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.grouponId != null">
        groupon_id = #{record.grouponId,jdbcType=INTEGER},
      </if>
      <if test="record.rulesId != null">
        rules_id = #{record.rulesId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.creatorUserId != null">
        creator_user_id = #{record.creatorUserId,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shareUrl != null">
        share_url = #{record.shareUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.payed != null">
        payed = #{record.payed,jdbcType=BIT},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cskaoyan_mall_groupon
    set id = #{record.id,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      groupon_id = #{record.grouponId,jdbcType=INTEGER},
      rules_id = #{record.rulesId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      creator_user_id = #{record.creatorUserId,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      share_url = #{record.shareUrl,jdbcType=VARCHAR},
      payed = #{record.payed,jdbcType=BIT},
      deleted = #{record.deleted,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.springmall.bean.Groupon">
    update cskaoyan_mall_groupon
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="grouponId != null">
        groupon_id = #{grouponId,jdbcType=INTEGER},
      </if>
      <if test="rulesId != null">
        rules_id = #{rulesId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="creatorUserId != null">
        creator_user_id = #{creatorUserId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shareUrl != null">
        share_url = #{shareUrl,jdbcType=VARCHAR},
      </if>
      <if test="payed != null">
        payed = #{payed,jdbcType=BIT},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springmall.bean.Groupon">
    update cskaoyan_mall_groupon
    set order_id = #{orderId,jdbcType=INTEGER},
      groupon_id = #{grouponId,jdbcType=INTEGER},
      rules_id = #{rulesId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      creator_user_id = #{creatorUserId,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      share_url = #{shareUrl,jdbcType=VARCHAR},
      payed = #{payed,jdbcType=BIT},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updatePayedByOrderId">
    update cskaoyan_mall_groupon
    set
      update_time = now(),
      payed = true
    where
      order_id = #{orderId}
  </update>
</mapper>